.breadcrum {
    display: flex;
flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
}
.breadcrum img {
  align-items: center;
  padding: 0px 10px;
}
