.news-Letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 140px;
    margin-bottom: 150px;
    width: 90%;
    height: 40vh;
    margin: auto;
    gap: 30px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.news-Letter h1{
    color: #171717;
    font-size: 55px;
    font-weight: 600;
}
.news-Letter p{
    color: #171717;
    font-size: 20px;
    font-weight: 500;
}
.news-Letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.news-Letter input{
    width: 600px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}
.news-Letter div  button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    cursor: pointer;
    color: white;
    font-size: 16px;
}